.filterContainer{
    border-radius: 8px;
    min-height: 90vh !important;
    /* width: 300px; */
    box-shadow: var(--boxShadow);
}


.filterBtn{
    border: none;
    padding: .1rem 1.5rem;
    font-size: .9rem;
    border-radius: 50px;
    letter-spacing: .5px;
    background-color: #ADADAD;
    color: white;
}