@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --transition :#fd6131;
    --primary : #FF7144;
    --txtPrimary : #1E1E1E;
    --txtSecondary : #747474;
    --boxShadow : rgba(0, 0, 0, 0.137) 0px 0px 10px;
}