@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'poppinsLight';
    src: url('./assets/fonts/Poppins-Light.ttf');
}
@font-face {
    font-family: 'poppinsMedium';
    src: url('./assets/fonts/Poppins-Medium.ttf');
}
@font-face {
    font-family: 'poppinsBold';
    src: url('./assets/fonts/Poppins-Bold.ttf');
}

/* Hide the scrollbar for all elements */
::-webkit-scrollbar {
    width: 0.3rem;
    height: 0.3rem;
  }
  
  
  /* Optional: Style the track (the area behind the thumb) */
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  /* Optional: Style the scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 50px;
  }